{% extends 'ROLE_ADMIN' in app.user.roles ? 'base2.html.twig' : 'base_users.html.twig' %}

{% block work %}


      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Liste Utilisateurs</h4>
                  
                </div>
                <div class="card-body">
 
                  <div class="table-responsive">

                    <table class="table">
                      
                      <thead class=" text-primary">
                       
                        <th>
                          ID
                        </th>
                        <th>
                          Username
                        </th>
                        <th>
                          Email
                        </th>
                       
                      </thead>
                       {% for user in user %}
                      <tbody>
                        <tr>
                          <td>
                            {{user.id}}
                          </td>
                          <td>
                            {{user.username}}
                          </td>
                         
                         
                          <td class="text-primary">
                            {{user.email}}
                          </td>
 {%endfor%}
                        </tr>
                      
                      </tbody>

                    </table>
                   
                  </div>
                
                </div>
              </div>
            </div>
            
      {% endblock %}